<!DOCTYPE html>
<html>
  <head>
    <title>Random Walks Positive Drift</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}

    <div id="content">
      <div id="header">
        <h1>Random Walks Positive Drift</h1>
      </div>

      <div id="about">
        <h2>About</h2>
        <p>Explanation of the strategy coming soon, check back later...</p>
      </div>

      <!-- Add more content sections as needed -->
    </div>

    <script>
      // JavaScript code
      // Add your own JavaScript code here
    </script>
  </body>
</html>
