<!DOCTYPE html>
<html>
  <head>
    <title>Random Walks Positive Drift</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}

    <div id="content">
      <div id="header">
        <h1>Random Walks Positive Drift</h1>
      </div>
        <p>
          Welcome to my bet reccommendation website. I am working to improve the
          website as you read, but for now, take a look at the current features.
        </p>
      </div>

      <!-- Add more content sections as needed -->
    </div>

    <script>
      // JavaScript code
      // Add your own JavaScript code here
    </script>
  </body>
</html>
