<!DOCTYPE html>
<html>
  <head>
    <head>

      <title>Random Walks Positive Drift</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}"
      />
    </head>
    <body>
      <body>
        {% include 'navbar.html' %}

    
      <div id="content">
        <div id="header">
          <h1>Random Walks Positive Drift</h1>
        </div>
  
  </head>
  <body>
    <h1>Recommended Bets</h1>
    <div id="no-bets">
        <img src="{{ url_for('serve_image', filename='jontay_porter.jpg') }}"  alt="No Bets Image">
        <p>No bets right now you slimey degen, go outside and do something with your life</p>
    </div>
  </body>
</html>
