<!DOCTYPE html>
<html>
  <head>
    <head>

      <title>Random Walks Positive Drift</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}"
      />
    </head>
    <body>
      <body>
        {% include 'navbar.html' %}

    
      <div id="content">
        <div id="header">
          <h1>Random Walks Positive Drift</h1>
        </div>
  
  </head>
  <p>
    These bets should be plus EV in the long run. For an explanation of each column, see the footnotes below the table.
    Posted lines &ne; Investment/Betting advice.
  <body>
    <h1>Recommended Bets</h1>
    <table id="bets-table">
      <thead>
        <tr>
          <th>
            Sport
            <select class="filter-select" id="filter-sport"></select>
          </th>
          <th>Start Time</th>
          <th>
            Home Team
            <select class="filter-select" id="filter-home-team"></select>
          </th>
          <th>
            Away Team
            <select class="filter-select" id="filter-away-team"></select>
          </th>
          <th>
            Outcome
            <select class="filter-select" id="filter-outcome"></select>
          </th>

          <th>
            Sportsbook
            <select class="filter-select" id="filter-sportsbook"></select>
          </th>
          <th>Decimal Odds</th>
          <th>Avg Odds</th>
          <th>Mean Implied Probability</th>
          <th>Best Implied Probability</th>
          <th>Predicted Probability</th>
          <th>Thresh</th>
          <th>Expected Value</th>
          <th>Kelly</th>
          <th>Half Kelly</th>
          <th>Best Odds Update Time</th>
          <th>Avg Odds Update Time</th>

          <!-- Add filter dropdowns for other columns as needed -->
        </tr>
      </thead>
      <tbody>
        {% for bet in bets %}
        <tr>
          <td>{{ bet.sport }}</td>
          <td>{{ bet.start_time}}</td>
          <td>{{ bet.home_team }}</td>
          <td>{{ bet.away_team }}</td>
          <td>{{ bet.outcome }}</td>
          <td>{{ bet.sportsbook }}</td>
          <td>{{ bet.decimal_odds }}</td>
          <td>{{ bet.avg_odds }}</td>
          <td>{{ bet.mean_implied_probability }}</td>
          <td>{{ bet.best_implied_probability }}</td>
          <td>{{ bet.predicted_probability }}</td>
          <td>{{ bet.thresh }}</td>
          <td>{{ bet.expected_value }}</td>
          <td>{{ bet.kelly }}</td>
          <td>{{ bet.half_kelly }}</td>
          <td>{{ bet.best_odds_update_time }}</td>
          <td>{{ bet.avg_odds_update_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul id="footnotes">
      <li><strong>Outcome:</strong> The outcome the line is referring to.</li>
      <li><strong>Sportsbook:</strong> The sportsbook offering the line.</li>
      <li><strong>Decimal Odds:</strong> The odds decimal odds of the best line offered across all legal sportsbooks in Illinois</li>
      <li><strong>Avg Odds:</strong> The average odds across multiple sportsbooks.</li>
      <li><strong>Mean Implied Probability:</strong> The implied probability of the bet paying off based on the average odds offered.</li>
      <li><strong>Best Implied Probability:</strong> The implied probability based on the best odds offered (the line listed in Decimal Odds).</li>
      <li><strong>Predicted Probability:</strong> The predicted probability of the bet paying off based on my model.</li>
      <li><strong>Thresh:</strong> The odds threshold for which placing a bet is positive expected value based on the model.</li>
      <li><strong>Expected Value (EV):</strong> Go back to stats 101 if you don't know what this is.</li>
      <li><strong><a href="https://en.wikipedia.org/wiki/Kelly_criterion">Kelly Criterion:</a></strong> A formula used to determine the optimal bet size based on perceived edge and bankroll.</li>
      <li><strong>Half Kelly:</strong> A variation of the Kelly Criterion using half of the optimal bet size.</li>
      <!-- Add more footnotes as needed -->
    </ul>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let filterSelects = document.querySelectorAll(".filter-select");

        function updateFilters() {
          filterSelects.forEach((select) => {
            let columnIndex = select.parentNode.cellIndex;
            let tableRows = document.querySelectorAll("#bets-table tbody tr");
            let options = new Set(["All"]); // Include "All" option initially

            tableRows.forEach((row) => {
              let cell = row.cells[columnIndex];
              if (cell) {
                let cellValue = cell.textContent || cell.innerText;
                options.add(cellValue.trim());
              }
            });

            // Remove existing options
            while (select.firstChild) {
              select.removeChild(select.firstChild);
            }

            // Add new options
            options.forEach((option) => {
              let optionElement = document.createElement("option");
              optionElement.value = option;
              optionElement.textContent = option;
              select.appendChild(optionElement);
            });
          });
        }

        // Initial update of filters
        updateFilters();

        // Listen for changes in table content and update filters
        let observer = new MutationObserver(updateFilters);
        observer.observe(document.querySelector("#bets-table tbody"), {
          childList: true,
        });

        filterSelects.forEach((select) => {
          select.addEventListener("change", function () {
            let columnIndex = this.parentNode.cellIndex;
            let filterValue = this.value.toUpperCase();
            let tableRows = document.querySelectorAll("#bets-table tbody tr");

            tableRows.forEach((row) => {
              let cell = row.cells[columnIndex];
              if (cell) {
                let cellValue = cell.textContent || cell.innerText;
                if (
                  filterValue === "ALL" ||
                  cellValue.toUpperCase() === filterValue ||
                  filterValue === ""
                ) {
                  row.style.display = "";
                } else {
                  row.style.display = "none";
                }
              }
            });
          });
        });
      });
    </script>
  </body>
</html>
